body {
    background-color: black;
    
}

h1 {
  color: white;
  margin-left: 20px;
}
p{
  color: white; 
}
gaugeChart {
  /* Stretch horizontally */
  transform: scaleX(2);
  /* Optional: you might need to adjust the container's overflow property */
  overflow: visible;
}

